img {
  max-width: 100%;
  height: auto;
}

body {
  /* font-family: 'Alumni Sans'; */
  font-family: 'Inter';
  background-image: url('../img/background.jpg');
  background-repeat: repeat;
  background-size: 20%;
  filter: brightness(0.5);
}

.body-inner {
  background: red;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.2rem;
}

h1,
.caps,
.btn {}

.btn {
  display: inline-block;
  width: auto;
  margin: auto;
}

.btn-edo {
  background-color: orange;
  border-color: orange;
}

.btn-lucy {
  background-color: purple;
  border-color: purple;
}
