img {
  max-width: 100%;
  height: auto;
}

body {
  /* font-family: 'Alumni Sans'; */
  font-family: 'Inter';
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.2rem;
}

h1,
.caps,
.btn {
  font-family: 'Bebas Neue';
}

.btn {
  display: inline-block;
  width: auto;
  margin: auto;
}

p {
  font-size: 1.5rem;
}
